<%- include("includes/head",{pageTitle: "403 Error" }) %>
    </head>

    <body>
        <%- include("includes/header") %>
            <main>
                <h1>Not authorized</h1>
                <p>You are not authorized to view this page.</p>
                <p><a href="/" class="btn">Back to safety</a></p>
            </main>
            <%- include("includes/footer") %>