<%- include("includes/head",{pageTitle: "404 Error"}) %> 
</head>
<body>
    <%- include("includes/header") %> 
    <main>
        <h1>Resource not found</h1>
        <p>Unfortunately we could not find the resource you requested.</p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
<%- include("includes/footer") %> 