<%- include("../../shared/includes/head",{pageTitle: "Manage Orders" }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>
    </head>
    <body>
        <%- include("../../shared/includes/header") %>
            <main>
                <h1>All Orders</h1>
                <%- include("../../shared/includes/order-list",{orders: orders}) %> 
            </main>
            <%- include("../../shared/includes/footer") %>