<%- include("../../shared/includes/head",{pageTitle: "New Product" }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    </head>

    <body>
        <%- include("../../shared/includes/header") %>
            <main>
                <h1>Add New Product</h1>
                <%- include("includes/product-form",{submitPath: "/"
                    ,product:{title:"",summary:"",price:"",description:""}, imageRequired:true}) %>
            </main>
            <%- include("../../shared/includes/footer") %>